div>div{
	height:100px;
	width:70px;
	border:1px ridge;
	float:left;
    }
 .com{
    width: 500px;
    margin-top: 20px;
    border: 2px solid purple;
	}
.rojo{
  background-color: red;
	}
.azul{
	background-color: blue;
	}
.amarillo{
	background-color: yellow;
	}
.clear:before,.clearfix:after{
    content: "";
    display: table;
   }
.clearfix:after{
	clear:both;
}